<h1 mat-dialog-title>Waarschuwing</h1>
<div mat-dialog-content>
  <div *ngIf="data.currentStatus; then makeUnavailable; else makeAvailable;"></div>
  <ng-template #makeUnavailable>
    <p>
      Je staat op het punt registraties voor een evenement te sluiten.
    </p>
    <p>
      Gebruikers zullen zich niet meer kunnen inschrijven maar zullen hun inschrijving nog wel kunnen weergeven.
    </p>
  </ng-template>
  <ng-template #makeAvailable>
    <p>
      Je staat op het punt registraties te OPENEN.
    </p>
    <p>
      <b>BELANGRIJK: </b>Als je na de eerste inschrijving nog wijzigingen maakt aan onderstaande data, 
      kan de correctheid van de bestaande inschrijvingen niet gegarandeerd worden.
    </p>
    <ul>
      <li>Workshop</li>
      <ul>
        <li>Doelgroep</li>
        <li>Moment</li>
      </ul>
      <li>Workshop-links</li>
      <li>Studenten</li>
    </ul>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="continue()">Doorgaan</button>
  <button mat-button color="error" mat-dialog-close >Annuleren</button>
</div>