<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <h1 mat-dialog-title>Beheerderswachtwoord veranderen</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput required type="password" placeholder="Oud wachtwoord" formControlName="oldPassword">
    </mat-form-field>
    <mat-form-field>
      <input matInput required type="password" placeholder="Nieuw wachtwoord" formControlName="newPassword">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid">Wachtwoord veranderen</button>
    <button mat-button color="error" type="button" mat-dialog-close >Annuleren</button>
  </div>
</form>
