<mat-toolbar class="mat-toolbar mat-toolbar-sub">
  <h1>Welkom</h1>
</mat-toolbar>
<div class="content-container">
  <p><strong>Dit is een demo. Gebruik dit niet in echte situaties, je data zal verwijderd worden.</strong></p>
  <h2>Wat is dit?</h2>
  <p>
    Dit is een applicatie waar je jezelf kan inschrijven voor workshops.
  </p>
  <p>
    Als je op deze pagina bent beland ben je waarschijnlijk op zoek naar een inschrijvingspagina.
    Die kan alleen bereikt worden indien je de juiste link intypt. Controleer dus nog eens of je de juiste link hebt.
  </p>
  <p>
    Indien je een beheerder bent kan je jezelf aanmelden via de knop rechtsboven het scherm.
  </p>

  <h2>Info van de ontwikkelaar</h2>
  <p><em>Enkel te lezen op demo</em></p>
  <p>
    Ik ben Lander Visterin, een IT factory student aan Thomas More Kempen.
  </p>
  <p>
    Deze site is ontwikkeld als Angular project voor school,
    maar is ontstaan dankzij mijn zus Eva die bij een middelbare school werkt en vraag had naar een systeem om
    inschrijvingen voor workshops digitaal te laten verlopen zonder dat er logische fouten mogelijk zijn.
  </p>
  <p>
    Momenteel wordt er met Google Forms gewerkt maar dat is niet in staat om complexe controles uit te voeren zoals;
  </p>
  <ul>
    <li>Matcht de doelgroep van de gebruiker met de workshop?</li>
    <li>Mag de gebruiker workshop Y kiezen als hij al workshop X kiest?</li>
    <li>Samenhorende workshops: bij workshop X moet ook Y gedaan worden</li>
    <li>Is de gebruiker wel wie hij zegt te zijn?</li>
    <li>...</li>
  </ul>
  <p>
    Deze applicatie voldoet wel aan deze eisen. Het is onmogelijk om een verkeerde keuze aan te klikken,
    geen ingewikkelde foutboodschappen bij validatie dus.
  </p>
  <p>
    Bovendien zijn er nog handige functionaliteiten voor het voor de beheerder gemakkelijk te maken:
  </p>
  <ul>
    <li>Importeren van gebruikers in CSV formaat (Excel-compatibel)</li>
    <li>Automatische generate van identificatie-sleutels voor gebruikers in CSV-formaat</li>
    <li>Controle op wie al wel en wie nog niet heeft ingeschreven</li>
    <li>Exporteren van inschrijvingen in Excel formaat met een werkblad per workshop, om door te geven aan de juiste
      verantwoordelijken</li>
  </ul>
  <p>
    Vragen kunnen gestuurd worden naar <a href="mailto:lander.visterin@student.thomasmore.be">lander.visterin@student.thomasmore.be</a>
  </p>
</div>