<mat-toolbar class="mat-toolbar mat-toolbar-sub">
  <h1>Welkom</h1>
</mat-toolbar>
<div class="content-container">
  <h2>Wat is dit?</h2>
  <p>
    Dit is een applicatie waar je jezelf kan inschrijven voor workshops.
  </p>
  <p>
    Als je op deze pagina bent beland ben je waarschijnlijk op zoek naar een inschrijvingspagina.
    Die kan alleen bereikt worden indien je de juiste link intypt. Controleer dus nog eens of je de juiste link hebt.
  </p>
  <p>
    Indien je een beheerder bent kan je jezelf aanmelden via de knop rechtsboven het scherm.
  </p>
</div>
